.nav-header1 {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-size: 25px;
}

.loading {
    display: none;
}

.myLabel1 {
    font-size: 25px;
    width: 400px;
}

.cityInput, .newComment {
    font-size: 20px;
}

.newComment {
    width:75%;
    margin: 25px;
}

.searchCity, .clearLocalStorage, .postNewComment {
    font-size: 20px;
}

.postNewComment {
    margin-left: 25px;
    margin-bottom: 25px;    
}

.weather {
    font-size: 25px;
    margin-left: 25px;
}

.weather i {
    height: 30px;
}

.comments-container {
    display: none;
    font-size: 20px;
}

.myResults1 {
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    padding: 50px;
}

* {
    box-sizing: border-box;
    font-family: Oswald;
}