<div class="weather">
    <a><i class="fa fa-comment-o fa-lg commentIcon1" aria-hidden="true"></i></a> Location: {{city}}, {{country}}. Temperature:
    {{temperature}}.
    <a><i class="fa fa-trash fa-lg trashIcon1" aria-hidden="true"></i></a>
    <div class="comments-container">
        <ul class="comments-list" style="list-style: none;"></ul>
        <input class="form-control newComment" type="text" placeholder="Enter a Comment"></input>
        <button class="btn btn-primary postNewComment" type="button">Post Your Comment</button>
    </div>
</div>